*{padding:0;
margin: 0;
box-sizing: border-box;}



h1
{
    font-family: 'Fira Sans Condensed', sans-serif;
}

h3{
    font-family: 'Fira Sans Condensed', sans-serif;
}

.page1
{
    background-color: rgb(247, 84, 119);
    padding-bottom: 500px;

}

.page2
{
    padding-bottom: 885px;
    }

.hello
{
    color: black;
    position: relative;
    top: 443px;

}

.intro
{
    width: 50%;
    position: relative;
    top: 470px;
}

.page3
{
    background-color: rgb(247, 84, 119);
}

.cat
{
    height: 688px;
    width: 345px;
}

.leaf
{
    height: 688px;
    width: 345px;
}

.street
{
    height: 688px;
    width: 345px;
}

.thankyou
{
    text-align: center;
}

#carouselExampleControls
{

    width: 100%;

}

#carouselExampleControls1
{

    width: 60%;
}

